# Desafio 7

#### Descubra as melhores notas de matemática do ENEM 2016
Você deverá criar um modelo para prever a nota da prova de matemática de quem participou do ENEM 2016. Para isso, usará Python, Pandas, Sklearn e Regression.

In [1382]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.linear_model import LinearRegression

In [1383]:
# get train and test dataframes
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [1384]:
# check train
df_train.head(5)

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [1385]:
df_train.shape

(13730, 167)

In [1386]:
df_train.columns[:90]

Index(['Unnamed: 0', 'NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO',
       'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA',
       'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO',
       'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_MACA', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO',
       'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN'],
      dtype='object')

In [1387]:
df_train.columns[90:]

Index(['TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN',
       'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN',
       'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011',
       'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020',
       'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029',
       'Q030', 'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046', 'Q047',
       'Q048', 'Q049', 'Q050'],
      dtype='object')

In [1388]:
# check test
df_test.head(5)

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A

In [1389]:
df_test.shape

(4576, 47)

In [1390]:
df_test.columns

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE',
       'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE',
       'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA',
       'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3',
       'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002',
       'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'],
      dtype='object')

In [1391]:
# organize dataframes train and test
df_train = df_train[df_train['NU_NOTA_MT'].notna()]

df_test['NU_NOTA_MT'] = ''
df_train_match_test = df_train[df_test.columns]

x_train_features = df_train_match_test.drop(['NU_INSCRICAO'], axis=1)

x_test_features = df_test.drop(['NU_INSCRICAO'], axis=1)

bool([x_train_features.columns, x_test_features.columns])

True

In [1392]:
x_test_features.shape

(4576, 47)

In [1393]:
x_train_features.columns

Index(['CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'TP_DEPENDENCIA_ADM_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA',
       'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'CO_PROVA_CN',
       'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026',
       'Q027', 'Q047', 'NU_NOTA_MT'],
      dtype='object')

In [1394]:
x_test_features.columns

Index(['CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'TP_DEPENDENCIA_ADM_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA',
       'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'CO_PROVA_CN',
       'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026',
       'Q027', 'Q047', 'NU_NOTA_MT'],
      dtype='object')

In [1395]:
# check x_train_features missing data
total = x_train_features.isnull().sum().sort_values(ascending=False)
percent = (x_train_features.isnull().sum()/x_train_features.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                        Total   Percent
TP_ENSINO                6494  0.640876
TP_DEPENDENCIA_ADM_ESC   6494  0.640876
Q027                     6126  0.604559
NU_NOTA_CN                 36  0.003553
NU_NOTA_CH                 36  0.003553
CO_UF_RESIDENCIA            0  0.000000
NU_NOTA_COMP4               0  0.000000
NU_NOTA_LC                  0  0.000000
TP_LINGUA                   0  0.000000
TP_STATUS_REDACAO           0  0.000000
NU_NOTA_COMP1               0  0.000000
NU_NOTA_COMP2               0  0.000000
NU_NOTA_COMP3               0  0.000000
NU_NOTA_REDACAO             0  0.000000
NU_NOTA_COMP5               0  0.000000
CO_PROVA_LC                 0  0.000000
Q001                        0  0.000000
Q002                        0  0.000000
Q006                        0  0.000000
Q024                        0  0.000000

In [1396]:
# check x_test_features missing data
total = x_test_features.isnull().sum().sort_values(ascending=False)
percent = (x_test_features.isnull().sum()/x_test_features.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                        Total   Percent
TP_ENSINO                3096  0.676573
TP_DEPENDENCIA_ADM_ESC   3096  0.676573
Q027                     2488  0.543706
NU_NOTA_REDACAO          1199  0.262019
NU_NOTA_COMP4            1199  0.262019
NU_NOTA_LC               1199  0.262019
TP_STATUS_REDACAO        1199  0.262019
NU_NOTA_COMP1            1199  0.262019
NU_NOTA_COMP2            1199  0.262019
NU_NOTA_COMP3            1199  0.262019
NU_NOTA_COMP5            1199  0.262019
NU_NOTA_CN               1134  0.247815
NU_NOTA_CH               1134  0.247815
TP_LINGUA                   0  0.000000
CO_UF_RESIDENCIA            0  0.000000
CO_PROVA_LC                 0  0.000000
Q001                        0  0.000000
Q002                        0  0.000000
Q006                        0  0.000000
Q024                        0  0.000000

In [1397]:
# remove columns 'TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO', 'Q027', due to too many missing data
x_train_features = x_train_features.drop(columns = ['TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO'])
x_test_features = x_test_features.drop(columns = ['TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO'])
df_test = df_test.drop(columns = ['TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO'])

bool([x_train_features.columns, x_test_features.columns])

True

In [1398]:
# check categorical features
x_train_features_categorical = x_train_features.select_dtypes(exclude='number')
x_train_features_categorical.head(5)

,SG_UF_RESIDENCIA,TP_SEXO,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,RS,M,16f84b7b3d2aeaff7d2f01297e6b3d0e25c77bb2,9cd70f1b922e02bd33453b3f607f5a644fb9b1b8,01af53cd161a420fff1767129c10de560cc264dd,97caab1e1533dba217deb7ef41490f52e459ab01,D,D,C,A,A,C,H,A
1,CE,F,b9b06ce8c319a3df2158ea3d0aef0f7d3eecaed7,909237ab0d84688e10c0470e2997348aff585273,01af53cd161a420fff1767129c10de560cc264dd,97caab1e1533dba217deb7ef41490f52e459ab01,A,A,B,A,A,A,NaN,A
5,BA,F,c8328ebc6f3238e06076c481bc1b82b8301e7a3f,f48d390ab6a2428e659c37fb8a9d00afde621889,01abbb7f1a90505385f44eec9905f82ca2a42cfd,81d0ee00ef42a7c23eb04496458c03d4c5b9c31a,E,E,C,B,B,A,NaN,A
6,MT,F,66b1dad288e13be0992bae01e81f71eca1c6e8a6,942ab3dc020af4cf53740b6b07e9dd7060b24164,5aebe5cad7fabc1545ac7fba07a4e6177f98483c,767a32545304ed293242d528f54d4edb1369f910,E,D,C,B,B,C,E,A
7,RS,F,b9b06ce8c319a3df2158ea3d0aef0f7d3eecaed7,909237ab0d84688e10c0470e2997348aff585273,72f80e4b3150c627c7ffc93cfe0fa13a9989b610,577f8968d95046f5eb5cc158608e12fa9ba34c85,G,F,L,B,B,A,NaN,D

In [1399]:
# remove code features
code_features = ['CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT']
x_train_features = x_train_features.drop(code_features, axis=1)
x_test_features = x_test_features.drop(code_features, axis=1)
df_test = df_test.drop(code_features, axis=1)
x_train_features.columns
bool([x_train_features.columns, x_test_features.columns])

True

In [1400]:
x_train_features.shape

(10133, 41)

In [1401]:
x_test_features.shape

(4576, 41)

In [1402]:
# remove all rows that have nan values
x_train_features = x_train_features.dropna()
x_test_features = x_test_features.dropna()
df_test = df_test.dropna()

In [1403]:
x_train_features.shape

(3991, 41)

In [1404]:
x_test_features.shape
# x_test_features.columns[:42]

(1304, 41)

In [1405]:
df_test.shape
# df_test.columns

(1304, 42)

In [1406]:
# exclude missing students
x_test_features = x_test_features[x_test_features['TP_PRESENCA_LC'] != 0]
df_test = df_test[df_test['TP_PRESENCA_LC'] != 0]
x_test_features['TP_PRESENCA_LC'].head(20)
x_test_features.shape

(1304, 41)

In [1407]:
# apply dummies
data_train = pd.DataFrame(x_train_features)
x_train_features = pd.get_dummies(data_train)

data_test = pd.DataFrame(x_test_features)
x_test_features = pd.get_dummies(data_test)

df_test_inscricao = df_test['NU_INSCRICAO']

df_test_no_inscricao = df_test.drop(['NU_INSCRICAO'], axis=1)
data_df_test_no_inscricao = pd.DataFrame(df_test_no_inscricao)
df_test_no_inscricao = pd.get_dummies(df_test_no_inscricao)

bool([x_train_features.columns, x_test_features.columns])

True

In [1408]:
x_train_features['NU_NOTA_MT']

0        399.4
6        529.2
10       419.6
12       464.2
16       480.4
         ...
13720    523.0
13724    566.1
13725    403.2
13726    452.4
13728    386.6
Name: NU_NOTA_MT, Length: 3991, dtype: float64

In [1409]:
x_test_features['NU_NOTA_MT'] = 0

In [1410]:
# define target
y_train_target = x_train_features['NU_NOTA_MT']
y_test_target = x_test_features['NU_NOTA_MT']

In [1411]:
y_test_target.head(10)

0     0
1     0
8     0
12    0
13    0
19    0
23    0
25    0
31    0
35    0
Name: NU_NOTA_MT, dtype: int64

In [1412]:
# train model by linear regression
linear_regression = LinearRegression()
linear_regression.fit(x_train_features, y_train_target)

LinearRegression()

In [1413]:
x_test_features.shape

(1304, 120)

In [1414]:
y_test_target.shape

(1304,)

In [1415]:
df_test.shape

(1304, 42)

In [1417]:
# test model
y_test_target = linear_regression.predict(x_test_features)

df_pred = pd.DataFrame({
    'NU_INSCRICAO': df_test_inscricao,
    'NU_NOTA_MT': y_test_target
}).reset_index(drop=True)

df_pred['NU_NOTA_MT'] = np.around(df_pred['NU_NOTA_MT'], 1)

df_pred.head(30)

c:\Users\mirel\codenation\venv\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- NU_NOTA_MT_
Feature names seen at fit time, yet now missing:
- Q006_Q

  warnings.warn(message, FutureWarning)

                                NU_INSCRICAO  NU_NOTA_MT
0   73ff9fcc02f0a99919906c942c2e1a1042cdcf98         0.0
1   71a95f9f1b91a82c65ad94abbdf9f54e6066f968         0.0
2   043c544a2104aa8a9849f1a703a08d37a2f16839         0.0
3   940aede382ccb332fab15d413217695ec44ca765         0.0
4   9ad714b116da76d878dd399d187fccc2dd13dd63         0.0
5   051c4f04fcbe385e1b3964aeb87f0a41d7f203d0         0.0
6   cbc301183dec912f3513ca766bf03dd565f3a38f         0.0
7   11282da1ee78c8db45a041db4c744e33df489df0         0.0
8   f66c2e5ff22a95fa532e78c7c4bf1d145247211d         0.0
9   f8d4f9a26c5f2023c33701a8888f9c02513a02c7         0.0
10  664f44258212a1f7e4086f2b4845d586c543fa3f         0.0
11  265cd7befa74a9f2a198fc57baec9858075f8419         0.0
12  78de1ee60b55766cc3eba4089e36c57139b66ebd         0.0
13  940af68ded6af2875708611051aa7ff3f134d80b         0.0
14  c76ddf6e9f80984e901b12f9462a3cf029bea290         0.0
15  7d39df837488ca3fa6e512fd9e20ec7753b4c36d         0.0
16  9d0fbf9bf1bb039de65a6d0e143c9a791c62b941         0.0
17  8d5c4481d736f6ce27976e400f4245bf10757608         0.0
18  c4cea54435c0fd0e171eed4c215479bb3ca86113         0.0
19  dbaa6ee7502cbebb6f058fed5d2f960b19f451ac         0.0
20  e724482370ae6126008ade80b564ad8d8a0a7cbd         0.0
21  e14241b5119dc1ff2c99b9c0c478aad23d9d9d05         0.0
22  3c52d067408ec25a676b6fbf5b5c6d63c77cb6bf         0.0
23  c83fe640ba466ba904ac1055e53a875289888797         0.0
24  8855ae8971b9bd9b02c45a82c6c894a2e76ca542         0.0
25  92a25eee14554806f081869cc9dac868fd1860fb         0.0
26  1f12a9b01eb9ef227a5482f498f3354bd485d9a3         0.0
27  1a46d99716282410d1170f0f35069b34e34415d4         0.0
28  0467e022da4ef897f666bc76f31e1bc8976f7e92         0.0
29  94c96ade6ade21deb080bba6aad537fc4f195d47         0.0